.nav {
  position: sticky;
  top: 0;
  z-index: 151;
}
.search-md {
  display: flex;
  width: 77%;
}
.search-base-box {
  display: flex;
  justify-content: center;
}
.search-base {
  display: flex;
  width: 90%;
}
.mob-nav {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
